
  .slider-container {
    position: relative;
  }
  
  .slider-marks {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .mark {
    position: relative;
    flex: 1;
    text-align: center;
  }
  
  
  input[type="range"] {
    width: 100%;
    background: #01b4e4;
    height: 0.5rem;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
