.card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.7rem;
    max-width: 100%;
    max-width: 1200px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  
  @media (max-width: 768px) {
    .card-list {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 100%;
    }

  }