main {
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #fff;
  margin-top: 64px;
  padding: 2.5rem 6rem;
}

.title {
  width: 100%;
  margin-bottom: 20px;
}

.title h2 {
  font-size: 1.6em;
}


.submenu { grid-area: submenu; }
.title { grid-area: title; }
.cards { grid-area: cardlist; }


.grid-container {
  display: grid;
  grid-template-areas:
    'title title'
    'submenu cardlist';

  gap: 10px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% auto 10%
}

/* Media Queries */
@media (max-width: 768px) {
  .title {
    width: 100%;
    margin: 0.4rem 0.5rem;
  }
  
  .title h2 {
    font-size: 1.4rem;
  }

  .grid-container {
    grid-template-areas:
      'title title'
      'submenu cardlist';
     
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% auto 10%;
  }

  main{
    margin-top: 2.5rem;
    padding: 1rem 0.5rem;
  }
  
}
